ion-toolbar {
  --background: linear-gradient(135deg, #ff416c, #ff4b2b);

  ion-button {
    --box-shadow: none;
    --background: transparent;
    color: #fff;
  }

  ion-title {
    color: #fff;
  }
}

ion-content {
    display: flex; 
    justify-content: center;
   // --background: rgb(219, 44, 44); 
   ion-button {
    --background: linear-gradient(135deg, #ff416c, #ff4b2b);
   }
  }
 