ion-content {
    display: flex; /* Use flexbox */
    justify-content: center;
    --background: rgb(219, 44, 44); /* Align content horizontally to the center */
    align-items: center; /* Align content vertically to the center */
    height: 80vh; /* Set content height to full viewport height */
  }
 