<ion-header>
  <ion-toolbar color="maroon"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-content-fit"> 
  <ion-list class="ion-text-center"> 
    <ion-item>
      <ion-label position="stacked">Feedback</ion-label>
      <ion-textarea rows="4" [(ngModel)]="feedback"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email (Optional)</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="submitFeedback()" color="maroon">Submit</ion-button>
</ion-content>
