<ion-header>
  <ion-toolbar> 
    <ion-button slot="start" class="ion-no-padding">
      <ion-back-button [defaultHref]="'/dashboard/'+id"></ion-back-button>
    </ion-button>
    <ion-title>
      Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-content-fit"> 
  <form>
    <ion-title text-center>FeedBack</ion-title>
    <div class="wrap">
      <ion-icon name="person"></ion-icon><ion-input placeholder="Enter name" [(ngModel)]="email" name="name"></ion-input>
    </div>
  
    <ion-textarea placeholder="Message" [(ngModel)]="feedback" name="text"></ion-textarea>
    <ion-button expand="block" [disabled]="feedback.trim()===''|| email.trim()===''"
      (click)="submitFeedback()">Submit</ion-button>
  </form>
</ion-content>

