<!-- about.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-button slot="start" class="ion-no-padding">
        <ion-back-button defaultHref="home">
        </ion-back-button>
    </ion-button>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Our Mission</h1>
    <p>Blood Connect is dedicated to bridging the gap between blood donors and those in need. Our mission is to create a
      seamless and convenient platform that connects people willing to donate blood with hospitals, blood banks, and
      individuals urgently requiring blood transfusions.</p>

    <h2>Our Story</h2>
    <p>Blood Connect was founded in 2022 by a team of passionate individuals who recognized the challenges faced by both
      blood donors and recipients. We saw a need for a centralized platform that could streamline the blood donation
      process and make it easier for people to find and access the blood they need.</p>

    <h2>Our Team</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-title>John Doe</ion-card-title>
        <ion-card-subtitle>Founder and CEO</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>John is a healthcare professional with a deep understanding of the importance of blood donations. His vision
          and leadership have been instrumental in the development of Blood Connect.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Jane Smith</ion-card-title>
        <ion-card-subtitle>Chief Technology Officer</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Jane is a seasoned software engineer with extensive experience in building scalable and user-friendly
          applications. She oversees the technical aspects of Blood Connect, ensuring a smooth and reliable experience
          for users.</p>
      </ion-card-content>
    </ion-card>

    <h2>Get Involved</h2>
    <p>We believe that everyone has the power to save lives by donating blood. Join us in our mission by downloading the
      Blood Connect app and registering as a donor today.</p>
  </div>
</ion-content>