<ion-header>
  <ion-toolbar color="maroon">
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="maroon">
  <ion-item>
    <ion-label>Go to</ion-label>
    <ion-select (ionChange)="navigateTo('dashboard/'+this.userId+'/'+$event.detail.value)">
      <ion-select-option value="blood-requests">Blood Requests</ion-select-option>
      <ion-select-option value="profile">Profile</ion-select-option>
      <ion-select-option value="feedback">Feedback</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card *ngFor="let event of upcomingEvents" (click)="viewEventDetails(event)">
    <ion-card-header>
      <ion-card-title>{{ event?.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="event.image" alt="{{ event?.title }}"></ion-img>
      <p><strong>Date:</strong> {{ event?.date }}</p>
      <p><strong>Location:</strong> {{ event?.location }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="maroon">
    <ion-buttons slot="start">
      <ion-button (click)="logout()" color="dark">
        Logout
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('dashboard/'+this.userId+'/view-all')" color="dark">
        View Events
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>