<ion-header>
  <ion-toolbar color="maroon">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Request Blood</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Blood Type</ion-label>
      <ion-select [(ngModel)]="bloodType" name="bloodType" required>
        <ion-select-option value="A+">A+</ion-select-option>
        <ion-select-option value="A-">A-</ion-select-option>
        <ion-select-option value="B+">B+</ion-select-option>
        <ion-select-option value="B-">B-</ion-select-option>
        <ion-select-option value="AB+">AB+</ion-select-option>
        <ion-select-option value="AB-">AB-</ion-select-option>
        <ion-select-option value="O+">O+</ion-select-option>
        <ion-select-option value="O-">O-</ion-select-option>
        <!-- Add more blood types as needed -->
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Message</ion-label>
      <ion-textarea [(ngModel)]="message" name="message" rows="5"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Request Blood</ion-label>
      <ion-radio [(ngModel)]="requestBlood" name="requestBlood" value="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Offer Blood to Match</ion-label>
      <ion-radio [(ngModel)]="offerBlood" name="offerBlood" value="true"></ion-radio>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!formValid()" >Submit</ion-button>
  </form>
</ion-content>
