/* admin-settings.component.css */
/* Style for the page background */
ion-content {
    background-color: rgb(206, 60, 60);
  }
  
  /* Style for the card background */
  ion-card {
    background-color: rgb(209, 94, 94);
  }
  ion-button{
    background-color: rgb(209, 94, 94);
  }